// Define variables for your color scheme

// For example:
$red: #E1515F;
$pink: #F2BECE;
$blue-green: #005C67;
$blue: #82D2D7;
$blue-light: #B4DBE2;
$yellow: #E6D169;
$orange: #B87351;
$orange-light: #E4CABD;
$green: #99E265;
$green-light: #A9D49B;
$gray: #3d3d3dfd;
$light-gray: #F4F4F4;
$white: #FFFFFF;