// Define variables for your color scheme

// For example:
$red: #E1515F;
$blue: #005C67;
$blue-light: #B4DBE2;
$yellow: #FFC65A;
$orange: #B87351;
$orange-light: #E4CABD;
$green: #62AB49;
$green-light: #A9D49B;
$gray: #3d3d3dfd;
$light-gray: #F4F4F4;
