h1.planning {
    text-align: center;
}

.bg-light-gray {
    background-color: $light-gray;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: $white;
}

.simple-calendar .today.current-month,
.simple-calendar .future.prev-month,
.simple-calendar .past.prev-month {
  background: $white;
}

.simple-calendar .future.next-month {
  background: $white;
}

.lesson-header {
  background-color: $blue-green;
  color: $white;
  border-radius: 0.5rem;
  min-height: 4rem;
  padding: 0.5rem;
}
.simple-calendar table.table {
  border: 0px;
}

th {
  display: none;
}
.simple-calendar td.day {
  border: 0px;
  height: 0px;

}
div.card.card-planning {
  height: 100%;
}
.table {
  margin-bottom: 8rem;
}