
.planning-container {
  margin: 1em;
}

.lt-grid-container {
  display: grid;
  // grid-template-columns: repeat(7, 1fr);
  grid-template-columns:repeat(auto-fit, minmax(16rem, 1fr));
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

.jour {
  background-color: $white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 0.5rem;
  border: 0px;

}
h1.planning {
  text-align: center;
}

.lesson-header {
background-color: $blue-green;
color: $white;
border-radius: 0.5rem 0.5rem 0 0;
min-height: 4rem;
padding: 0.5rem;
}

.lesson-header p {
margin: 0px;
}

.planning-container h6 {
  font-weight: bold;
}
