<h1>Reserver</h1>
<div id="datepickr-form">
  <%= simple_form_for [@lesson, @booking] do |f| %>
    <div>
      <%= f.select :quantity, options_for_select(0..@lesson.available_quantity), label: "nombres de places" %>
    </div>
    <%= f.submit "Réserver" %>
  <% end %>
</div>