<div class="container">
  <h1>Réservation</h1>
  <p>Vous avez <%=@credits%> Crédits </p>
  <% if @lesson.available_quantity > 0 %>
    <div id="datepickr-form">
      <%= simple_form_for [@lesson, @booking] do |f| %>
        <div class="form-inputs">
          <%= f.input :quantity, collection: (1..@lesson.available_quantity), label: "Nombre de places" %>
        </div>
        <div class="form-actions">
          <%= f.submit "Réserver", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Le cours est complet !</p>
  <% end %>
</div>