<div class="container">
  <h1>Reserver</h1>
  <p>Vous avez <%=@credits%> Crédits </p>
  <div id="datepickr-form">
    <%= simple_form_for [@lesson, @booking] do |f| %>
      <div>
        <%= f.select :quantity, options_for_select(0..@lesson.available_quantity), label: "Nombre de places réservables" %>
      </div>
      <%= f.submit "Réserver", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>