<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/mathilde.corestudio/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/corestudiogrenoble" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/channel/UC074B7nlFr3923baEx3JXUA" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    © Core-Studio - Conçu et développé avec <i class="fas fa-heart"></i> par <a href="http://www.marie-blanchet.com">Marie Blanchet</a>
  </div>
</div>