<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    © Core-Studio - Conçu et développé avec <i class="fas fa-heart"></i> par <a href="www.marie-blanchet.com">Marie Blanchet</a>
  </div>
</div>