<div  class="footer">
  <div class="footer-infos align-items-baseline">
    <div class="footer-contact">
      <ul>
      <li><i class="fas fa-map-marker-alt"></i> 137 cours de la Libération</li>
      <li><i class="fas fa-map-marker-alt invisible"></i>  38100 Grenoble</li>
      <li><i class="fas fa-phone-alt"></i> +33 6 75 25 75 95</li>
      <li><i class="fas fa-envelope"></i></i> mathilde@core-studio.fr</li>
      </ul>
    </div>
    <div class="footer-smo">
      <div>Retrouvez nous sur les réseaux sociaux:</div>
      <div class="footer-links">
        <a href="https://www.instagram.com/mathilde.corestudio/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/corestudiogrenoble" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC074B7nlFr3923baEx3JXUA" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">
    © Core-Studio - Conçu et développé avec <i class="fas fa-sun"></i> par <a href="http://www.marie-blanchet.com">Marie Blanchet</a>
  </div>
</div>