<div class="container">
    <h1>Vos crédits</h1>
    <div class="credits">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="true">Crédits actuels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Historique des crédits</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
                <div class="card w-100 m-3 card-booking">
                    <div class="card-body d-flex justify-content-between align align-items-center">
                        <div class="p-1"> 
                            <% @credits.each do |credit| %>
                                <p><%= credit.quantity %> Crédit <%= credit.category.name %></p>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <%= link_to packages_path do %>
                        <button class="btn btn-primary">Acheter des crédits</button>
                    <% end %>
                </div>  
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div class="card w-100 m-3 card-booking">
                    <div class="card-body d-flex justify-content-between align align-items-center">
                        <div class="p-1"> 
                            <p>Historique</p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>