
.btn {
    border-radius: 0.5rem;
    min-width: 100px;
    font-size: bold;
    margin: 0.5rem;
    color: $white;
    &:hover{
        color: $white;
    }
}

.btn-outline-primary {
    background-color: $white;
    color: $primary;
    &:hover {
        color: $white;
    }
}
