.card {
  overflow: hidden;
  background: $white;
  // box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.card-planning, .card-booking {
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  border: 0px;
}
.card-package {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border: 0px;
  border-radius: 0.5rem;
}

.card-planning {
  border-radius: 0 0 0.5rem 0.5rem;
}

.card-lesson {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 0px;
  // font-weight: bold;
  flex: none;
}

.bg-pink {
  background-color: $pink-planning;
}
.bg-blue {
  background-color: $blue-planning;
}
.bg-green {
  background-color: $green-planning;
}
.bg-yellow {
  background-color: $yellow-planning;
}
.bg-white {
  background-color: $white;
}